<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <% if @destination.ten_day_forecast(@destination.zip).empty? %>
    <p>Invalid zipcode, could not find weather information</p>
    <% else %>
    <ul>
      <% @destination.ten_day_forecast(@destination.zip).each do |forecast| %>
      <li> <%= forecast.date %> High: <%= forecast.high %> / Low: <%= forecast.low %> <%= forecast.conditions %></li>
      <% end %>
    </ul>
    <% end %>

  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
